/* Profile Animation */

#W {
    animation: spin 1s steps(60) 2.4s normal;
}

/* Typewriter Cursor */

.line {
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

/* Typewriter Animation */
.anim-typewriter {
    animation: typewriter 1.2s steps(10) 1s 1 normal both,
    blinkTextCursor 800ms steps(40) infinite normal;
}

/* Keyframes */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 178px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #ffffff;
    }

    to {
        border-right-color: #0a0a0a;
    }
}
