@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Cormorant+Garamond&display=swap');

@font-face {
    font-family: pixels;
    src: url('/fonts/gamepixies.ttf');
}

@font-face {
    font-family: script; 
    src: url('/fonts/sundiary.ttf');
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 20pt;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

header#info-header {
    text-align: center;
    margin: 20px;
}

figure#perfil h1 {
    font-family: pixels, monospace;
    font-size: 24pt;
    letter-spacing: 2px;
}

img.social-btns {
    margin: 0px 3px 0px 3px;
    transition: .6s;
}

img.social-btns:hover {
    width: 28px;
    opacity: .5;
}

div#quote {
    font-family: 'Cormorant Garamond', serif;
    font-size: 14pt;
    text-align: center;
}

hr {
    margin: auto 20% auto 20%;
    border-color: rgb(95, 95, 95);
}

article#about-me {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(20, 20, 20);
    border-color: rgb(95, 95, 95);
    border-style: solid;
    border-width: 2px;
    border-radius: 18px;
    margin-top: 60px;
    align-items: center;
}

article#about-me p {
    text-align: justify;
    text-indent: 20pt;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

p#last-update {
    font-family: monospace;
    font-size: 8pt;
    text-align: end;
    margin-top: 50px;
}