/* Others */

@font-face {font-family: pixels; src: url('/fonts/gamepixies.ttf');}
@font-face {font-family: script; src: url('/fonts/sundiary.ttf');}

/* Body Config */

div#quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 11pt;
    text-align: center;
}

hr {
    width: 40%;
    border-color: gray;
}

article#about-me {
    background-color: rgb(20, 20, 20);
    border-color: gray;
    border-style: groove;
    border-width: 2px;
    border-radius: 34px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
}

article#about-me h2 {
    text-align: center;
    font-family: Arial;
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 20px;
}

article#about-me p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 18pt;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 25px;
}

p#last-update {
    font-family: monospace;
    font-size: 8pt;
    text-align: end;
    margin-top: 50px;
}

/* Header Config */

header {
    text-align: center;
    margin: 20px;
}

figure#perfil h1 {
    font-family: pixels, monospace;
    font-size: 24pt;
    letter-spacing: 2px;
}