@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kiwi+Maru:wght@300&display=swap');

@font-face {
    font-family: pixels;
    src: url('/fonts/gamepixies.ttf');
}

@font-face {
    font-family: script;
    src: url('/fonts/sundiary.ttf');
}

.hidden {
    opacity: 0;
    position: absolute;
}

a {
    color: #7fb2b1;
    text-decoration: none;
    transition: .4s;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 20pt;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

a:hover {
    color: rgb(80, 100, 125);
    text-decoration: underline;
}

header#info-header {
    text-align: center;
    margin: 40px auto 0px auto;
}

nav#nav-menu {
    display: block;
    position: absolute;
    left: -10px;
    top: -20px;
}

nav#nav-menu h1 {
    display: none;
}

nav#nav-menu ul {
    position: absolute;
    font-family: 'pixels', monospace;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18pt;
    list-style: none;
    text-align: left;
    padding: 8px;
    transition: .6s;
}

nav#nav-menu li {
    display: block;
    width: 140px;
    padding: 6px 2px 6px 10px;
    margin-top: 12px;
    border-radius: 0px 18px 18px 0px;
    border: solid;
    border-width: 2px;
    border-color: rgb(95, 95, 95);
    text-align: center;
    background-color: rgb(20, 20, 20);
    transition: width .4s;
}

nav#nav-menu a {
    color: #ffffff;
}

nav#nav-menu li:hover {
    background-color: rgb(34, 34, 34);
    width: 160px;
}

nav#nav-menu li:hover a {
    color: rgb(46, 118, 206);
    text-decoration: none;
    font-size: 20pt;
}

figure#perfil h1 {
    font-family: 'pixels', monospace;
    text-align: center;
    margin: 40px auto 10px auto;
    font-size: 24pt;
    letter-spacing: 2px;
}

img.buttons {
    margin: 0px 3px 0px 3px;
    vertical-align: middle;
    transition: opacity .6s;
}

img.buttons:hover {
    width: 30px;
    opacity: .5;
}

img#tswitch:hover {
    width: 32px;
}

div#theme-switch {
    position: absolute;
    right: 20px;
    top: 20px;
}

div#quote {
    font-family: 'Kiwi Maru', serif;
    font-size: 11pt;
    text-align: center;
}

div#quote p {
    margin-bottom: -20px;
}

div#quote blockquote cite {
    font-style: normal;
    text-align: end;
}

hr {
    margin: 18px 20% 18px 20%;
    border-color: rgb(95, 95, 95);
}

article.block {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(20, 20, 20);
    color: #ffffff;
    border-color: rgb(95, 95, 95);
    border-style: solid;
    border-width: 2px;
    border-radius: 18px;
    margin: 60px 60px 0px 60px;
}

article.block p {
    text-align: justify;
    text-indent: 10pt;
    margin: 0px 50px 20px 50px;
}

#language-selector {
    text-align: center;
    margin: auto 40% 12px 40%;
}

#language-selector img {
    margin: auto 5px;
}

p#last-update {
    opacity: .6;
    font-family: monospace;
    font-size: 8pt;
    text-align: end;
    letter-spacing: .6px;
    margin-top: 40px;
}
