@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kiwi+Maru:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
#W {
  animation: spin 1s steps(60) 2.4s normal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.line {
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.typewriter {
  animation: typewriter 1.2s steps(10) 1s 1 normal both, blinkTextCursor 800ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0px;
  }
  to {
    width: 185px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: #0a0a0a;
  }
}
@font-face {
  font-family: gamepixies;
  src: url("../fonts/gamepixies.ttf");
}
.hidden {
  opacity: 0;
}

.filter-white {
  filter: invert(99%) sepia(0%) saturate(6142%) hue-rotate(62deg) brightness(115%) contrast(100%);
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12pt;
}

a {
  color: #2E76CE;
  text-decoration: none;
  transition: 400ms;
}

a:hover {
  color: #6694cc;
  text-decoration: underline;
}

hr {
  margin: 16px 14%;
}

header {
  margin: 40px auto 0px auto;
  text-align: center;
}

nav {
  display: block;
  position: absolute;
  top: -80px;
  left: -10px;
}
nav a {
  color: white;
  text-decoration: none;
  transition: 400ms;
}
nav ul {
  position: absolute;
  padding: 8px;
  font-family: "gamepixies", monospace;
  font-size: 18pt;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
  list-style: none;
}
nav li {
  display: block;
  width: 140px;
  padding: 6px 2px 6px 10px;
  margin-top: 6px;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-radius: 0px 18px 18px 0px;
  border-color: #5F5F5F;
  background-color: #141414;
  transition: width 400ms;
}
nav li:hover {
  width: 110%;
  background-color: #222;
}
nav li:hover a {
  color: #2E76CE;
  text-decoration: none;
}

#theme-switcher {
  position: absolute;
  text-align: center;
  top: 0px;
  right: 20px;
}
#theme-switcher img {
  width: 32px;
}

figure#avatar h1 {
  margin: 40px auto -20px auto;
  font-family: "gamepixies", monospace;
  font-size: 26pt;
  letter-spacing: 1px;
}
figure#avatar img {
  width: 200px;
}

#quote p {
  margin-bottom: -14px;
  font-family: "Kiwi Maru", serif;
  font-size: 11pt;
  font-weight: bold;
}
#quote cite {
  font-family: "Pacifico", cursive;
  font-style: normal;
}

article {
  background-color: #141414;
  margin: -45px 160px;
  border: solid;
  border-width: 2px;
  border-radius: 18px;
  border-color: #5F5F5F;
}
article h2 {
  margin: 18px;
  font-family: "Comfortaa", cursive;
  font-size: 20pt;
  font-weight: bolder;
  text-align: center;
  color: white;
}
article p {
  margin: 0px 60px 18px 60px;
  text-align: justify;
  text-indent: 8pt;
  color: whitesmoke;
}
article p.centre {
  text-align: center;
}

.buttons {
  width: 32px;
  margin: 10px 2px;
  vertical-align: middle;
  transition: opacity 600ms;
}

.buttons:hover {
  width: 30px;
  opacity: 0.8;
}

footer {
  margin-top: 80px;
}
footer p#last-update {
  font-size: 10pt;
  word-spacing: 2px;
  text-align: end;
}

/*
*   Mobile Stylesheet
*/
@media (max-width: 1060px) {
  hr {
    margin: 8px 20px;
  }

  nav {
    margin-bottom: -100px;
    top: -100px;
    left: -20px;
  }
  nav ul {
    position: relative;
  }
  nav li {
    font-size: 22pt;
    width: 180px;
  }
  nav li:hover {
    width: 240px;
  }

  #theme-switcher img {
    width: 42px;
  }

  #theme-switcher:hover img {
    width: 42px;
  }

  #quote {
    margin: auto -20px -80px auto;
  }
  #quote p {
    font-size: 10pt;
  }
  #quote cite {
    font-size: 11pt;
  }

  article {
    margin: 60px 3px 0px 3px;
  }
  article p {
    margin: 0px 20px 12px 20px;
  }
}
@media (max-width: 768px) {
  hr {
    margin: 8px 20px;
  }

  nav {
    position: relative;
    margin-bottom: -100px;
    top: -100px;
    left: -20px;
  }
  nav ul {
    position: relative;
  }
  nav li {
    font-size: 22pt;
    width: 180px;
  }
  nav li:hover {
    width: 240px;
  }

  #theme-switcher img {
    width: 42px;
  }

  #theme-switcher:hover img {
    width: 42px;
  }

  #quote {
    margin: auto -20px -80px auto;
  }
  #quote p {
    font-size: 10pt;
  }
  #quote cite {
    font-size: 11pt;
  }

  article {
    margin: 60px 3px 0px 3px;
  }
  article p {
    margin: 0px 20px 12px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
